@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="height:auto;min-height:100%;">
    <h1 class="display-4">Welcome to Hayden Carroll's Resume Review!</h1>
    <p>This site will serve as a platform for reviewing Hayden's talents and qualifications.</p>
    <p>Below you may find his resume. If you would like a more interactive experiance please check out the <a href="~/Assistant">Interactive Resume Assistant</a></p>
    <iframe align="middle" src="https://docs.google.com/document/d/e/2PACX-1vRmqmZYukCQ27sd7M1TqIeXnviXFtVL6mazp3GeM83Po4G6bNr3XLtYxS2CDLk9VIp2WeUOdOWcY6j3/pub?embedded=true" style="width:75%;height:70vh;min-height:600px"></iframe>
</div>
